:root{

    /* font-size:14px; */
    --left-margin: 25px;
    --form-img-width:40%;
    --form-body-width:60%;
}

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .83rem;
    display: flex;
    justify-content: center;
    background-image: url("assets/josh-durham-4rn4X_QnGV4-unsplash.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color: gainsboro;
}

@font-face {
    font-family: bad-signal;
    src: url(assets/BadSignal.otf);
}

.main-container{
    height: clamp(768px,100vh,1080px);
    width : clamp(768px,72vw,1920px);
    display: flex;
    align-items: center;
    border:3px solid;
    border-image:linear-gradient(purple,red,blue,yellow,green)1;
}

.form-container{
    display:flex;
    justify-content: center;
    height:100%;
    width:100%;
    position: relative;
    background-color: rgb(31, 38, 53,0.97);/* #160e1f; */
}

.form-header{
    padding:0 5px 0 var(--left-margin);
    margin-top: 12%;
}

.form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    width: var(--form-body-width); 
}

.form-main{
    min-height:30%;
 }

#form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    padding-left:var(--left-margin);
    border-bottom-right-radius:25px;
    border-top-left-radius:25px;
    border-top:1px #22273a solid;
    box-shadow:0px 10px 5px #1c2131;
    background-color: rgb(41, 46, 67,0.75);
   
}


.form-footer{
    width:100%;
    padding: 0 0 0 var(--left-margin);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top:1px #48494C solid;
    padding: 10px;
    width: 100%;
    font-size: x-small;
}


.form-logo-div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    position:absolute;
    top:15%;
    width:var(--form-img-width);
    height:16.5%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: bad-signal;
    font-size: 1.8rem;
    color:white;
}

.form-img-container{
    width:var(--form-img-width);
}

.form-img{
    height:100%;
    width:100%; 
}

.logo-img{
    height:110px;
    width:auto;
}

.form-row{
    display:flex;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    width:50%;
    padding:0px 0 15px 0px;
    color:white;
}

input{
    box-sizing:border-box;
    border-radius:4px;
    padding:4.5px;
    width: 80%;
    background-color:#1f2635;
    border:2px rgb(156, 155, 155) solid;
    outline:none;
    color:White;
    font-weight:500;
    font-size: 14px;
}

input:focus{
    border:2px #ffa300 solid;
    background-color: black;
    
}

input:hover{
    border:2px #ffa330 solid;
}

/* --Remove Arrows/Spinners from input fields(number)-- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* --Remove Arrows/Spinners from input fields(number)-- */



button{
    padding:15px 35px 15px 35px;
    border-radius: 5px;
    background-color: #ffa300;
    border: 2px gainsboro solid;
    color:black;
    width:32%;
    font-size: medium;
    font-weight: bold;
}

button:hover{
    background-color: #ad6e02;
    color:white;
    border:2px black solid;
}

a{
    color:#ffa300;
    text-decoration: none;
}

a:hover{
    border:1px #ffa300 solid;
    color:white;
}




@media only screen and (max-width : 480px) {
    
    body{
        font-size:.7rem;
    }
    
    .main-container{
        height:clamp(768px,100vh,100vh);
        width: 100vw;
        border:2px solid;
        border-image:linear-gradient(purple,red,blue,yellow,green)1;
    }

     .form-container{
        display: flex;
        flex-flow: column;
        width:100%;
        height:100%;
    }

    .form-body{
        height:100%; /* 12% to image and logo divs */
        width: 100%;    
    }
    
    .form-header{
        margin-top: 15px;
        padding-top:0px;
        
    }

    .form-img-container{
        height:12%;
        width: 100%;
        position: relative; /* for logo div's absolute */
        overflow: hidden;
        width: auto;
    }

    .form-img{
        content:url(assets/jose-gil-2pNdTBn4C7U-unsplash.jpg);
        height:auto;
    }

    .form-footer{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0;
    }

    #form{
        padding-top:10px;
    }

    .form-logo-div{ 
        display: flex;
        position: absolute;
        justify-content: center;
        padding:0;
        height:100%;
        width:100%;
        top:0px;
        font-size:1.3rem;
        background-color: rgba(0, 0, 0, 0.50);
    }

    .logo-img{
        height:73px;
        width:auto;
    }

    button{
        width:50%;  
    }
    
}

@media only screen and (max-width : 768px) {

    .main-container{
        height:clamp(768px,100vh,100vh);
    }

    .form-logo-div{ 
        font-size:1.2rem;
    }
    
    button{
        width:50%;
    }
}
