:root{
    --left-margin: 15px;
}

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    
}

body{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-image: url("assets/josh-durham-4rn4X_QnGV4-unsplash.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color: gainsboro;
}

@font-face {
    font-family: bad-signal;
    src: url(assets/BadSignal.otf);
}

.main-container{
    height :100vh;
    width :75vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border:3px solid;
    border-image:linear-gradient(purple,red,blue,yellow,green)1;
}

.form-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width:100%;
    position: relative;
    /* justify-content: space-between; */
    /* border:1px greenyellow solid; */
    background-color: rgb(31, 38, 53,0.97);/* #160e1f; */
    
}

.form-header{
    padding:0px 0px 140px var(--left-margin);
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    bottom:60px;
    height:30%;
    padding-left:var(--left-margin);
    border-radius:3px;
    background-color: #292e43;
    box-shadow:0px 5px 3px #1c2131;
}

.form-footer{
    width:auto;
    position: relative;
    margin-top:-20px;
    padding: 0 0 0 var(--left-margin);
    
}

.form-logo{
    display: flex;
    align-items: center;
    padding:50px;
    position:absolute;
    top:140px;
    width:30vw;
    height: 137px;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: bad-signal;
    font-size: 2.3rem;
    color:white;
}

.form-img{
    position: relative;
    top:0;
    left:0;
    height:99.5vh;
    width:30vw;
}

.logo-img{
    height:117px;
    width:117px;
}


.form-row{
    display:flex;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    width:50%;
    padding:0px 0 15px 0px;
    color:white;
}

input{
    box-sizing:border-box;
    border-radius:4px;
    padding:5px;
    width: 80%;
    background-color:#1f2635;
    border:2px rgb(156, 155, 155) solid;
    outline:none;
    color:White;
    font-weight:500;
    font-size: 14px;
}

input:focus{
    border:2px #ffa300 solid;
    background-color: black;
    
}

input:hover{
    border:2px #ffa330 solid;
}

/* --Remove Arrows/Spinners from input fields(number)-- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* --Remove Arrows/Spinners from input fields(number)-- */



button{
    padding:15px 35px 15px 35px;
    border-radius: 5px;
    background-color: #ffa300;
    border: 2px gainsboro solid;
    color:black;
    width:32%;
    font-size: medium;
    font-weight: bold;
}

button:hover{
    background-color: #ad6e02;
    color:white;
    border:2px black solid;
}

a{
    color:#ffa300;
    text-decoration: none;
}

a:hover{
    border:1px #ffa300 solid;
    color:white;
}



